<header>
    <a href="/">
        <h1>Month-tracker</h1>
    </a>
    <ul>
        <li>
            <a href="/costs">Koszty miesięczne</a>
        </li>
        <li>
            <a href="/calendar">Kalendarz</a>
        </li>
        <li>
            <a href="/auth/login">Zaloguj</a>
        </li>
        <li>
            <a href="/auth/register">Zarejestruj</a>
        </li>
    </ul>
</header>