<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("../../partials/head"); %>
</head>
<body>
    <%- include("../../partials/header"); %>

    <main>
        <h1>Witaj na stronie kontaktu</h1>
    </main>

    <%- include("../../partials/footer"); %>
</body>
</html>