main{
    display: flex;
    flex-direction: column;
}
article{
    display: flex;
    flex-direction: row;
}
#about{
    width: 50%;
}
#content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}