<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("../../partials/head"); %>
    <title>Kalendarz</title>
</head>
<body>
    <%- include("../../partials/header"); %>

    <main>
        <h1>Witamy na stronie kalendarza</h1>
    </main>

    <%- include("../../partials/footer"); %>
</body>
</html>